body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #008000; 
  background-image: url('images/bgtexture.jpg');
}

* {
  font-family: sans-serif;
  color: rgba(0,0,0,0.6);
  user-select: none;
}
p {
  font-size: 22px;
}
h1 {
  font-size: 1.3em;
  line-height: 1.1em;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  display: block;
}

div.main {
  display: block;
  width: 100vw;
  height: 100vh;
  margin: auto;
}

#viewport {
  display: block;
  width: 100vw;
  height: 100vh;
  aspect-ratio: auto;
}


/* Interface Options */

div#gameSelect {
  margin: 10% auto;
  max-width: fit-content;
  background-color: #b4f0bf;
  border-radius: 25px;
  border: 1px solid darkgray;
  padding: 25px;
  transition: opacity 1s ease-in-out;
}
#gameSelect.visible {
  display: block;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.menuGroup {
  text-align: center;
}

.yourScore {
  pointer-events: none;
  user-select: none;
  padding: 25px;
}
#scoreboard {
  display: none;
  pointer-events: none;
  user-select: none;
  padding: 25px;
  position: absolute;
}
#timerDisplay {
  font-size: 24px;
}

button {
  margin: 20px auto;
  display: block;
  padding: 1em;
  border-radius: 1em;
  background-color: #adcced;
  font-size: 2em;
}

#screensaver {
  cursor: pointer;
}
#startBallBlaster {
  color: gray;
  border: gray;
}
#startBlitz {
  cursor: pointer;
}