body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-image: url('images/background_green.jpg');
  background-size: cover;
}

div.main {
  display: block;
  width: 100vw;
  height: 100vh;
  margin: auto;
}

#viewport {
  display: block;
  width: 100vw;
  height: 100vh;
  aspect-ratio: auto;
}

button {
  margin: 350px auto;
  display: block;
  padding: 1em;
  border-radius: 1em;
  background-color: lavender;
  font-size: 2em;
}

.marble {
  z-index: 1;
}

div.guidance {
  font-family: sans-serif;
  font-size: 22px;
  color: rgba(0,0,0,0.6);
  margin: 3em;
  position: absolute;
  top: 0px;
  z-index: 1;
}

div.guidance img, div.guidance p {
  display: block;
  margin: auto;
  text-align: center;
}