body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #008000; /* Green background */
  background-image: url('images/bgtexture.jpg'); /* Path to your texture image */
  background-blend-mode: multiply; /* Blends the texture with the color */
  
}

p {
  font-family: sans-serif;
  font-size: 22px;
  color: rgba(0,0,0,0.6);
}
h1 {
  font-family: sans-serif;
  font-size: 1.3em;
  line-height: 1.1em;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  display: block;
}

div.main {
  display: block;
  width: 100vw;
  height: 100vh;
  margin: auto;
}

#viewport {
  display: block;
  width: 100vw;
  height: 100vh;
  aspect-ratio: auto;
}


/* Interface Options */

div#gameSelect {
  margin: 10% auto;
  max-width: fit-content;
  background-color: #b4f0bf;
  border-radius: 25px;
  border: 1px solid darkgray;
  padding: 25px;
}


button {
  margin: 20px auto;
  display: block;
  padding: 1em;
  border-radius: 1em;
  background-color: #adcced;
  font-size: 2em;
}

#startApp {
  cursor: pointer;
}

#startBallBlaster {
  color: gray;
  border: gray;
}